/* add font */
@font-face {
  font-family: "redhat";
  src: url("../fonts/redhatdisplay/RedHatDisplay-VariableFont_wght.ttf")
    format("ttf");
}
@font-face {
  font-family: "gelion";
  src: url("../fonts/gelion/Gelion-Regular.ttf") format("ttf");
}
/* body */
body {
  font-family: "gelion";
}
/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #035755;
  font-weight: 700;
  font-family: "gelion";
}
/* color */
:root {
  --maincolor: #fa5652;
}
.main-color {
  color: #fa5652;
}
a:hover {
  text-decoration: none;
}
/* classes */
/* margin-top */
.padding-top-7 {
  padding-top: 7rem;
}
.navbar-nav {
  text-align: center;
}
.navbar-nav .nav-link {
  color: #035755;
}
.navbar-nav li a {
  display: block;
  padding: 5px 80px;
  color: #035755 !important;
}
.nav-contact {
  border: 2px solid #fb4c47;
  box-sizing: border-box;
  border-radius: 46px;
  /* max-width: 155px; */
  width: auto;
  padding: 2px;
}
.nav-contact .nav-link {
  color: #ff383d !important;
}
.banner-content {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  text-align: left;
  float: right;
}
.tagline {
  color: var(--maincolor);
  font-family: "gelion";
  font-size: 26px;
  font-weight: bold;
}
.pragraph-content {
  font-size: 18px;
  line-height: 190%;
  text-transform: capitalize;
  color: #4b4f51;
  padding-top: 15px;
  text-align: justify;
}
.btn-banner {
  min-width: 170px;
  padding: 20px 25px;
  background-color: #fb4c47;
  border-radius: 65px;
  /* Let Us Help */
  font-family: "gelion";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
}
.btn-banner a {
  color: #ffffff;
}

.about-us-content {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  text-align: left;
  float: left;
}
.tagline-title {
  color: var(--maincolor);
  font-family: "gelion";
  font-weight: bold;
  font-size: 18px;
}
.paragraph-content-about-us {
  text-align: justify;
  text-transform: capitalize;
  color: #4b4f51;
}
.btn-about-us {
  min-width: 120px;
  padding: 14px 19px;
  background-color: rgba(250, 86, 82, 0.15);
  border-radius: 65px;
  font-family: "gelion";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 29px;
  text-transform: capitalize;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.btn-about-us a {
  color: var(--maincolor);
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--maincolor);
}
/* contagion section */
.contagion-paragraph {
  max-width: 570px;
  font-family: "Gelion";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 39px;
  text-align: center;
  text-transform: capitalize;
  color: #4b4f51;
  margin: auto;
}
.card {
  background: #ffffff;
  box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
  text-align: center;
}
.card:hover {
  border-bottom: 4px solid #ff383d;
}
.card-title {
  font-family: "Gelion";
  font-style: normal;
  font-weight: 500;
  line-height: 147%;
  /* identical to box height, or 53px */
  text-transform: capitalize;
}
.card-text {
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-transform: capitalize;
  color: #4b4f51;
}
.contagion {
  background-image: url("../img/contagion/contagion-background-virus.svg");
  background-position: -3% bottom;
  background-repeat: no-repeat;
  text-align: right;
  padding-top: 10rem;
}
.about-us {
  background-image: url("../img/about-us/background-01.svg"),
    url("../img/about-us/background-01-litte.svg");
  background-position: 101% 85%, 95% 100%;
  background-size: 12%, 12%;
  background-repeat: no-repeat;
}
.symptomps {
  background-image: url("../img/symptomps/symptoms-back2.svg"),
    url("../img/symptomps/symptoms-back1.svg");
  background-position: 3% 85%, 95% 100%;
  background-size: 12%, 12%;
  background-repeat: no-repeat;
  text-align: right;
  padding-top: 10rem;
}
.we-should {
  background-image: url("../img/what-should/background-01-green.svg"),
    url("../img/what-should/background-02-little-green.svg"),
    url("../img/what-should/background-03.svg");
  background-position: 0% 30%, 95% 85%, 100% 95%;
  background-size: 7%, 7%, 7%;
  background-repeat: no-repeat;
}
.weshould-us-content {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  text-align: left;
  float: right;
}
.number-waht-we-should {
  background-color: rgba(250, 86, 82, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: var(--maincolor);
  border-radius: 100%;
  font-style: normal;
  font-weight: bold;
  text-transform: capitalize;
  font-family: "gelion";
}
/* data covid */
footer,
.data-covid,
.newsletter {
  background-color: #fff1f1;
}
/* newsletter */
.newsletter {
  background-image: url("../img/news-letter/background-01.svg"),
    url("../img/news-letter/background-02-big.svg");
  background-position: 90% 50%, 100% 100%;
  background-size: 7%, 7%;
  background-repeat: no-repeat;
}
.newsletter .newsletter-form {
  position: relative;
  max-width: 355px;
  margin-top: 23px;
  z-index: 999;
}

.newsletter-form input {
  height: 55px;
  width: 100%;
  padding: 18px 135px 17px 30px;
  font-family: "gelion";
  font-weight: 400;
  font-style: italic;
  border: 0 none;
  outline: none;
  color: #758681;
  font-size: 1.125rem;
  line-height: 1;
  background: #ffffff;
  box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.06);
  border-radius: 57px;
}

.newsletter-form button {
  font-family: "gelion";
  font-weight: 700;
  width: 116px;
  height: 40px;
  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 35px;
  background-color: #f44a45;
  color: #fff;
  position: absolute;
  right: 20px;
  bottom: 7px;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0px;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-title {
  font-family: "gelion";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}
/* footer */
.footerlogo img {
  max-height: 45px;
}
.navbar .icon {
  position: relative;
  font-size: 18px;
  padding: 10px;
}

.footer-social-icon a {
  color: #035755;
  font-size: 0.9rem;
}
.link-in-footer li a {
  color: #00402e;
  font-size: 0.9rem;
}
/* copy right */
.copyright {
  font-size: 0.85rem;
}
/* map */
.icon-marker {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
  width: 3.6em;
  height: 3.6em;
  font-size: 0.7em;
  font-weight: bold;
  background-color: #ff383d;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(black, 0.9);
}
.icon-marker:hover .icon-marker-tooltip {
  display: block;
}
.icon-marker-tooltip {
  display: none;
  position: absolute;
  bottom: 100%;
  width: 16em;
  font-size: 1.4em;
  padding: 1em;
  background-color: #035755;
  border-radius: 0.4em;
  margin-bottom: 1em;
  box-shadow: 0 3px 5px rgba(black, 0.9);
}
.icon-marker-tooltip h2 {
  color: #fff;
}
.icon-marker-tooltip:before {
  display: block;
  position: absolute;
  bottom: -0.6em;
  left: 50%;
  content: "";
  width: 1.4em;
  height: 1.4em;
  background-color: #00402e;
  transform: rotate(45deg);
  margin-left: -0.7em;
}
/* table */
.page-link {
  color: #ff383d;
}
.page-link:hover {
  color: #00402e;
}
